/* src/pages/auth/ForgotPassword.css */

/* --- Decorative Elements Specific to Forgot Password --- */
.fp-cluster {
    height: 180px;
}

.indicator-blue {
    width: 60%;
    background-color: #3b82f6;
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
}

.text-green {
    color: #10b981;
}