# SERVER CONFIG
FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=yoursecretkey_template

# DATABASE CONFIG
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=system_db
DB_USERNAME=root
DB_PASSWORD=insert_password_here

# FRONTEND CONFIG
REACT_APP_API_URL=http://localhost:5000/api